---
import '../styles/global.css'; // Import global styles from Tailwind CSS
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>Simple Web Frame</title>
	</head>
	<body>
		<slot />
	</body>
</html>
