---
import '../styles/global.css'; // Import global styles from Tailwind CSS

interface Props {
	title?: string;
	bodyClass?: string;
}

const { title = 'Simple Web Frame', bodyClass = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={bodyClass}>
		<slot />
	</body>
</html>
